    <%= form_for(@user) do |f| %>
        <div class="field">
            <%= f.label :display_name %><br />
            <%= f.text_field :display_name, autofocus: true, autocomplete: "off" %>
        </div>
        <br>
        <%= f.submit %>
    <% end %>